.login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 300px;
  height: 300px;
  background: white;
  border: solid 1px black;
  border-radius: 25px;
  z-index: 2;


  .triangle {
    position: absolute;
    top: -10%;
    right: 10%;
    width: 0;
    height: 0;
    border-left: 25px solid transparent; /* Регулюємо ширину та колір лівого боку трикутника */
    border-right: 25px solid transparent; /* Регулюємо ширину та колір правого боку трикутника */
    border-bottom: 30px solid #ffffff;
  }
  &__title {
    font-size: 30px;
    font-weight: 500;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }
  button {
    width: 270px;
    padding: 10px;
    background-color: #af4425;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #662e1c;
  }
  &__quick-register {
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
    color: #af4425;
    cursor: pointer;
    text-decoration: none;
  }
}











