<div class="login">

    <div class="triangle"></div>
    <div class="login__title">
      <p>Log In</p>
    </div>
  <div class="login__line"></div>
    <form>
      <div class="input">
        <input type="email" name="email" placeholder="Email" required>
        <img src="./assets/register/email.svg">
      </div>
      <div class="input">
        <input type="password" name="password" placeholder="Password" required>
        <img src="./assets/register/password.svg">
      </div>
      <a routerLink='/user-page'><button type="submit">Log in</button></a>
    </form>
  <a routerLink='/register'><p class="login__quick-register">Quick register</p></a>

</div>








