


.main {
  width: 1700px;
  height: 800px;
  margin: 70px auto 0 auto;
  background-color: #ffffff;
  border-radius: 25px;
  z-index: -1;
  overflow-block: scroll;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1),
  0 -4px 10px rgba(0, 0, 0, 0.1),
  4px 0 10px rgba(0, 0, 0, 0.1),
  -4px 0 10px rgba(0, 0, 0, 0.1);


  &__header {
    position: absolute;
    width: 1700px;
    height: 200px;
    background: #AF4425;
    border-radius: 25px 25px 0 0;
    z-index: 0;
  }


  &__user {
    position: relative;
    top: 5%;
    left: 10%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    &__logo {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: solid 10px white;
      color: #cecece;
      background: #cecece;
    }
    &__nickname {
      font-size: 30px;
      font-weight: bold;
      color: #8f361e;
    }
  }

  &__company {
    left: -10%;
    top: 40%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 500px;
    height: 200px;
    border-radius: 25px;
    background: #AF4425;
    padding: 20px;

    &__title {
      color: white;
      font-size: 28px;
      font-weight: bold;
    }
    & p {
      font-size: 20px;
      color: white;
    }
    &__add-company {
      width: 200px;
      height: 50px;
      background: white;
      color: #662e1c;
      border-radius: 25px;
      border: none;
    }
  }

  &__user-info {
    left: -9%;
    top: 40%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 500px;
    height: 200px;
    border-radius: 25px;
    background: #AF4425;
    padding: 20px;

    &__title {
      color: white;
      font-size: 28px;
      font-weight: bold;
    }
    &__add-info {
      width: 200px;
      height: 50px;
      background: white;
      color: #662e1c;
      border-radius: 25px;
      border: none;
    }
    & p {
      font-size: 20px;
      color: white;
    }
  }

  .your-skill {
    position: relative;
    top: -45%;
    left: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 700px;
    background: #f1f1f1;
    border: solid 3px black;
    border-radius: 25px;
    overflow: hidden;

    &__title {
      font-size: 30px;
      color: black;
      margin: 10px;
    }
    &__skills-container {
      width: 100%;
      max-height: 525px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      scrollbar-width: none;
    }

    .your-skill__skills-container::-webkit-scrollbar {
      display: none;
    }

    &__add-skill {
      width: 90%;
      height: 60px;
      border: solid 1px black;
      border-radius: 25px;
      background: #af4425;
      color: white;
    }

    .your-skill__skills {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 95%;
      min-height: 50px;
      background: #ffffff;
      border: solid 1px black;
      border-radius: 25px;
      margin: 5px;

      & > * {
        margin: 20px;
      }
    }


    &__info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &__skill-name {
        font-size: 18px;
      }
    }
  }



  .hunt-user {
    position: relative;
    bottom: 137%;
    left: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 400px;
    background: #f1f1f1;
    border: solid 3px black;
    border-radius: 25px;
    overflow: hidden;

    &__title {
      font-size: 30px;
      color: black;
      margin: 10px;
    }
    &__skills-container {
      width: 100%;
      max-height: 525px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      scrollbar-width: none;
    }

    .your-skill__skills-container::-webkit-scrollbar {
      display: none;
    }


    .hunt-user__user {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 95%;
      min-height: 50px;
      background: #ffffff;
      border: solid 1px black;
      border-radius: 25px;
      margin: 5px;

      & > * {
        margin: 20px;
      }
    }

      &__nickname {
        font-size: 18px;
      }

  }
}





